= javascript_include_tag "admin"

%h3 Create Subject

= form_for @subject, url: create_course_subject_admin_path, method: :post, :html=>{:id=>'new_subject'} do |f|
  .col-md-6.col-sm-6.col-xs-12
    .item.form-group.item
      %label.control-label.col-md-2.col-sm-2.col-xs-12.label-right{:for => "name"}
        Name
        %span.required *
      .col-md-8.col-sm-8.col-xs-12
        = f.text_field :name, autofocus: true, placeholder: 'Name', :class =>'form-control col-md-7 col-xs-12'
        = f.hidden_field :course_id, :class =>'form-control col-md-7 col-xs-12',:value=> @subject.course_id
    .form-group
      .col-md-6.col-md-offset-5
        = link_to 'Cancel', course_admin_index_path, class: 'btn btn-default'
        = f.submit 'Create', :class =>'btn btn-primary add-button'

