!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CollegeCRM
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .ajax-notice
    - unless flash[:notice].nil?
      %p.notice= notice
    - unless flash[:alert].nil?
      %p.alert= alert
    = yield
    - if current_user
      = link_to('Logout', destroy_user_session_path, method: :delete)